body{
    background-color: black;
    
    }
    
     h1 {
            color: white;
            background: rgb(167, 179, 11);
            font-weight: normal;
            font-size: 20px;
            font-family: "Arial Narrow Bold";
            text-transform: uppercase;
            text-shadow: #555 1px 1px 2px;
          }
     h2 {
            color:rgb(167, 179, 11);
            font-weight: normal;
            font-size: 100px;
            font-family:  "Queen Inline Grunge";
            letter-spacing: 15px;
            text-shadow: #555 4px 4px 6px;
            text-align: center;
                 
          }
    h3 {    color:rgb(167, 179, 11);
            font-weight: normal;
            font-size: 30px;
            font-family:  "Lucida";
            letter-spacing: 5px;
            text-shadow: rgb(100, 54, 175) 4px 4px 6px;
            text-align:left;
            
    }
    p {
        width: 100%;
        text-align: center;
        font-family: "Arial";
        font-size: 20px;
        color: whitesmoke;
    }
    a {
        font-family:  "Queen Inline Grunge";
        font-size: 20px;
        color:powderblue;
        
    }
    